<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <style>
            .container {
                background-color: #444444;
            }
            .container > div:nth-child(1) {
                display:grid;grid-template-columns:7fr 3fr;
            }
            .section-title {
                margin-left:5px;color:white;font-size:1.3em;
            }
            .section-container {
                display:grid;grid-template-columns:1fr 1fr 1fr;font-family:verdana;font-size:1em;color:white;
            }
            .price-chip {
                border:solid 1px #000;border-radius:4px;margin:5px;
            }
            .price-chip-header {
                display:grid;grid-template-columns:1fr 1fr;padding-left:3px;
            }
            .price-chip-header > .title {
                position:relative;top:5px;color:white;font-size:1.1em;
            }
        </style>
        <script type="text/javascript">
            
                function start() {
                // const events = new EventSource('http://localhost:3500/events');

                events.onmessage = (event) => {
                    console.log('marketwatch ' + event.data)
                };
                }

                start();
            function updatePriceLevels(instrumentId, bid, ask) {
                const pricechips = document.getElementsByClassName('pricechip');
                for(var index = 0; index < pricechips.length; index++) {
                    const pricechipname = pricechips[index].children[0].innerHTML;
                    const priceLevel = document.getElementById(`${instrumentId}${pricechipname}priceLevel`);
                    const priceLevelDiff = document.getElementById(`${instrumentId}${pricechipname}priceLevelDiff`);
                    const priceLevelValue = parseFloat(priceLevel.innerHTML);
                    const priceLevelDiffValue = priceLevelValue - bid
                    priceLevelDiff.innerHTML = priceLevelDiffValue.toFixed(2);
                }
            }
            function setBidAsk(instrumentId, bid, ask) {
                document.getElementById(`${instrumentId}bid`).innerHTML = bid.toFixed(2);
                document.getElementById(`${instrumentId}ask`).innerHTML = ask.toFixed(2);
            }
            function repeatingFunc() {
                
                const hiddenInstruments = document.getElementsByName('instrument');
                for(let index = 0; index < hiddenInstruments.length; index++) {
                    const instrumentId = hiddenInstruments[index].value.replace(' ', '-');
                    const bid = document.getElementById(`${instrumentId}bid`).innerHTML;
                    const ask = document.getElementById(`${instrumentId}ask`).innerHTML;
                    const bidValue = parseFloat(bid) + .25;
                    const askValue = parseFloat(ask) + .25;
                    setBidAsk(instrumentId, bidValue, askValue);
                    updatePriceLevels(instrumentId, bidValue, askValue);
                }
                setTimeout(repeatingFunc, 1000);
            }

            // (async () => {
            //     let connection;
            //     try {
            //         const connection = await amqp.connect("amqp://localhost:5672");
            //         const channel = await connection.createChannel();

            //         process.once("SIGINT", async () => {
            //         await channel.close();
            //         await connection.close();
            //         });

            //         await channel.assertQueue('nt8_wbmpivotdiff', { durable: false });
            //         await channel.consume(
            //         'nt8_wbmpivotdiff',
            //         (message) => {
            //             if (message) {
            //                 debugger;
            //             console.log(message);
            //             }
            //         },
            //         { noAck: true }
            //         );
            //     } catch (err) {
            //         console.warn(err);
            //     } finally {
            //         if (connection) await connection.close();
            //     }
            //     })();
            
            // async function rabbitMQConsumer(amqplib) {
            //     const connection = await amqplib.connect('amqplib://localhost:5672');
            //     const channel = await connection.createChannel();
            //     const queue = channel.assertQueue('nt8_wbmpivotdiff');

            //     channel.consume('nt8_wbmpivotdiff', (job) => {
            //         debugger;
            //         let data = JSON.parse(job.content);
            //         console.log(data);
            //         channel.ack(job);
            //     });

            //     console.log('Waiting for the message!');
            // }
            
            // debugger;
            // rabbitMQConsumer(amqplib);
            setTimeout(repeatingFunc, 1000);
        </script>
    </head>
    <body class="container">
        <div>
            <div>
                <div class="section-title">
                    Market Watch Dashboard
                </div>
                <div class="section-container">
                    <% model.forEach((m) => { %>
                        <input name="instrument" type="hidden" value="<%= m.instrument %>">
                        <div style="border:solid 1px #000;border-radius:4px;margin:5px">
                            <div style="padding:8px">
                            <div style="padding:3px;">
                                <div style="display:grid;grid-template-columns:30fr 65fr 05fr">
                                    <div style="color:white;font-size:1.1em;">
                                        <%= m.instrument %>
                                    </div>
                                    <%- include('../partials/bidAsk', {
                                        bidId: m.instrument.replace(' ', '-') +  'bid',
                                        askId: m.instrument.replace(' ', '-') +  'ask',
                                        bid: '4125', ask: '4125.5', 
                                        percentChange: '1.22%'}); %>
                                </div>
                            </div>
                            <div style="font-size:.8em;font-variant:small-caps;background-color:rgb(9, 57, 95);color:rgb(62, 156, 233);padding:3px;">
                                <div>price levels</div>
                            </div>
                            <div style="display:grid;grid-template-columns:1fr 1fr 1fr 1fr">
                                <% m.priceLevels.forEach((p) => { %>
                                    <%- include('../partials/priceChip', {
                                        priceLevelId: m.instrument.replace(' ', '-') + p.displayName.replace(' ', '-') + 'priceLevel', 
                                        priceLevelDiffId: m.instrument.replace(' ', '-') + p.displayName.replace(' ', '-') + 'priceLevelDiff', 
                                        displayName: p.displayName, priceLevel: p.value, priceLevelDiff: '67.25'}); %>
                                <% }) %>
                            </div>
                            <div style="font-size:.8em;font-variant:small-caps;background-color:rgb(9, 57, 95);color:rgb(62, 156, 233);padding:3px;">
                                <div>alerts</div>
                            </div>
                            <div style="display:grid;grid-template-columns:1fr 1fr 1fr 1fr">
                                <% m.alerts.forEach((a) => { %>
                                    <%- include('../partials/alertChip', {displayName: a.displayName, dateTime: a.dateTime.toLocaleTimeString("en-us", {})}); %>
                                <% }) %>
                            </div>
                        </div> 
                    </div>
                      <% }) %>
                </div>
            </div>  
            <div>
                <div style="margin-left:5px;color:white;font-size:1.3em;">
                    Alerts
                </div>
            </div>
        </div>  
    </body>
    <script
          src="https://code.jquery.com/jquery-3.7.0.js"
          integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
          crossorigin="anonymous"></script>
    <script type="text/javascript">
    </script>
</html>